* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #4a4a4a;
    /* padding-bottom: calc(100svh - 100px); */
    margin: 0;
}

header {
    height: 100px;
    position: sticky;
    top:0;
    width: 100%;
    background-color: rgba(107, 199, 73, 0.3);
    display: grid;
    place-content: center;
    text-align: center;
}

h1, p {
    margin: 0;
}

section {
    box-sizing: border-box;
    /* border: 5px solid #d3e019; */
    height: calc(100svh - 100px);
    display: grid;
    place-content: center;
    text-align: center;
    transition: all 1s;
}

#section01 {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 20px;
}

#sec1col1 {
    background-color: #d27f7f;
    flex: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

#sec1col2 {
    /* background-color: #d3e019; */
    flex: 1;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "A A A A"
        "A A A A"
        "B B C D"
        "B B E E";
    grid-gap: 20px;
}
    

.gallery {
    background-color: #6582a8;
    border-radius: 10px;
}

#gallery1{
    grid-area: A;
}

#gallery2{
    grid-area:B;
}

#gallery3{
    grid-area:C;
}

#gallery4{
    grid-area:D;
}
#gallery5{
    grid-area:E;
}

#section02 {
    background:#6582a8;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#section03 {
    
    
}

#slideshow3{
    background-color: #d3e019;
    margin: 20px;
    border-radius: 10px;
    width: calc(100vw - 40px);
    height: calc(100vh - 100px - 40px);
    overflow: hidden;
    display: grid;
    place-items: center;

}

.polaroids {
    white-space: nowrap;
}

.polaroid-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}

.polaroid-slide img {
    height: 50vh;
    aspect-ratio: 2/3;
    background-color: #f40c9f;
    margin: 0 20px;
}

.polaroid-slide img:last-child {
    background-color: #a31870;
}



/* #polaroid-slide {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: left;
    animation: 5s slide infinte linear;
}

.polaroid {
    height: 50vh;
    aspect-ratio: 2/3;
    background-color: #f40c9f;
} */

#section04{
    background-color: #aa7f7f;
}

#section05 {
    display: grid;
    margin: 0;
    padding: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "F F G G G H"
        "F F G G G H"
        "F F K L L M"
        "I I K N N N"
        "J J J N N N"
        "J J J N N N";
    grid-gap: 20px;
}

#gallery6{
    grid-area:F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gallery7{
    grid-area:G;
}

#gallery8{
    grid-area:H;
}

#gallery9{
    grid-area:I;
}

#gallery10{
    grid-area:J;
}

#gallery11{
    grid-area:K;
}

#gallery12{
    grid-area:L;
}

#gallery13{
    grid-area:M;
}

#gallery14{
    grid-area:N;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section06 {
    background-color: #5b7d87;
}

footer {
    background-color: #f40c9f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Without animating color change */
/* .bgcolor1 { background-color: #f8edcb;}
.bgcolor2 { background-color: #eaf8cb;}
.bgcolor3 { background-color: #cbeef8;}
.bgcolor4 { background-color: #dfcbf8;}
.bgcolor5 { background-color: #f8cbe4;} */

/* Animating the color change */
.bgcolor1 { background-color: #f8edcb; transition: all 1s;}
.bgcolor2 { background-color: #eaf8cb; transition: all 1s;}
.bgcolor3 { background-color: #cbeef8; transition: all 1s;}
.bgcolor4 { background-color: #dfcbf8; transition: all 1s;}
.bgcolor5 { background-color: #f8cbe4; transition: all 1s;}

.offscreen {
    border: 1px solid #d3e019;
    font-size: 1em;
}

.onscreen {
    border: 6px solid #f40c9f;
    font-size: 2em;
}