* {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  opacity: 50%;

}

body {
	background: radial-gradient(circle, #ee7752, #FFBF40, #6B5DD5, #1DF083);
	background-size: 500% 500%;
	animation: gradient 20s ease-in-out infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 0% 50%;
	}
  50% {
		background-position: 100% 100%;
	}
  75% {
		background-position: 50% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}

header {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

header h1 {
  font-weight: 800;
  color: white;
  margin: auto;
  letter-spacing: -2px;
  opacity: 80%;
  padding-top: 20px;
}

header h2 {
  color: white;
  margin: auto;
}

header p {
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #1DF083;
  border-radius: 50%;
  font-size: 25px;
  position: absolute;
  box-sizing: border-box;
  text-align: center;
}

header div {
  position: relative;
  margin: auto;
}

#zombie {
  background-color: #acd59b;
  bottom: 0px;
  left: 0px;
  transform: scale(1.5);
}

#tulip {
  background-color: #ffc6b5;
  top: 0px;
  right: 0px;
  transform: scale(1.1);
}

#eggs {
  background-color: #fc9f35;
  top: -10px;
  left: -20px;

}

#avocado {
  background-color: #9bf360;
  top: 30px;
  left: -50px;
  transform: scale(0.8);
}

#film {
  background-color: #ffe641;
  bottom: 0px;
  right: -40px;
  transform: scale(0.6);
}

#heart {
  background-color: #68d2ff;
  bottom: 90px;
  right: -30px;
  transform: scale(0.8);
}

#books {
  background-color: rgb(165, 138, 239);
  bottom: 20px;
  left: -35px;
  transform: scale(0.8);
}

#mexico {
  background-color: rgb(255, 139, 113);
  bottom: -20px;
  right: 0px;
  transform: scale(1.2);
}

#headshot {
  position: relative;
  height: 200px;
  width: auto;
  margin: auto;
  box-sizing: border-box;
  border:10px solid white;
  border-radius: 500px;
  box-shadow: 0px 10px 30px -7px rgba(0,0,0,0.8);
}

main {
  background-color: #F5F5F5;
  border-radius: 30px 30px 0px 0px;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

nav {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px -7px rgba(0,0,0,0.6);
  padding: 0px 20px 20px 20px;
}

nav h2 {
  padding-top: 10px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  text-decoration: none;
  margin: 0px;
}

nav ul li {
  padding-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  opacity: 70%;
  line-height: 80%;
  transition: all 0.5s;
}

.link_active:hover {
  opacity: 100%;
  font-weight: 700;
}

.link_inactive {
  opacity: 30%;
}

footer {
  background-color: #F5F5F5;
  display: flex;
  height: auto;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 50px;
  box-shadow: 0 50vh 0 50vh #F5F5F5;
}

footer h1 {
  padding-top: 10px;
  font-weight: 600;
  opacity: 80%;
  letter-spacing: -1px;
  margin: auto;
}

footer a {
  background: radial-gradient(circle, #ee7752, #FFBF40, #6B5DD5, #1DF083);
	background-size: 500% 500%;
	animation: gradient 20s ease-in-out infinite;
  margin: 10px auto auto;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  opacity: 80%;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

@media screen and (min-width: 600px){
  main {
    border-radius: 0px;
  }

  #menu {
    flex-direction: row;
    max-width: 750px;
    margin: auto;
  }

  header p {
    margin: 0;
  }

  #profile img {
    transition: 1s;
  }

  #eggs {
    transform: scale(1);
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 1s;
  }

  #tulip {
    transform: scale(1);
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 1s;
  }

  #avocado {
    transform: scale(1);
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 1s;
  }

  #heart {
    transform: scale(1);
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 1s;
  }

  #mexico {
    transform: scale(0.01);
    top: 50%;
    left: 50%;
    z-index: 1;
    transition: 1s;
  }

  #film {
    transform: scale(1);
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 1s;
  }

  #books {
    transform: scale(1);
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 1s;
  }

  #zombie {
    transform: scale(1);
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: 1s;
  }

  #profile img:hover {
    transform: scale(1.1);
    border:5px solid white;
    box-shadow: 0px 10px 60px -7px rgba(0,0,0,0.5);
  }

  #profile img:hover ~ #zombie {
    transform: translate(118px,59px) scale(1.1);
  }

  #profile img:hover ~ #eggs {
    transform: translate(-133px,60px) scale(1);
  }

  #profile img:hover ~ #tulip {
    transform: translate(105px,10px) scale(0.7);
  }

  #profile img:hover ~ #avocado {
    transform: translate(-171px,8px) scale(1.5);
  }

  #profile img:hover ~ #heart {
    transform: translate(121px,-74px) scale(1.5);
  }

  #profile img:hover ~ #mexico {
    transform: translate(40px,40px) scale(1.5);
  }

  #profile img:hover ~ #film {
    transform: translate(74px,-118px) scale(0.7);
  }

  #profile img:hover ~ #books {
    transform: translate(-151px,-105px) scale(1.5);
  }

  nav {
    transition: 1s;
    border-radius: 15px;
  }

  nav:hover {
    box-shadow: 0px 10px 60px -7px rgba(0,0,0,0.3);
    transform: scale(1.05);
  }

  footer a {
    transition: 0.5s;
  }

  footer a:hover {
    box-shadow: 0px 10px 60px -7px rgba(0,0,0,0.3);
    transform: scale(1.2);
    border-radius: 15px;
  }


  /*
  @keyframes zombieBubble {
    from {
      transform: translate(0px,0px) scale(50%);
    }
    to {
      transform: translate(-100px,-100px) scale(150%);
    }
  }

*/



}

 

