* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#8DB2B1,#1D1270);
}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.la-belle-aurore-regular {
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900
*/

.libre-franklin-regular {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
    width: 90%;
    padding: 20px;
    background: #ECEBE4;
    height: fit-content;
    color: rgb(86, 80, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    transition: height 1s ease;
    position: relative;
    margin: auto;
    box-shadow: 0px 10px 30px -7px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
}

p {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 25pt;
    letter-spacing: -1px;
}

.progress {
    width: 100%;
    height: 20px;
    background: #bebcb28a;
    margin-bottom: 20px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
}

.progress-inner {
    position: absolute;
    background: green;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: width 1s linear, background-color 10s ease;
}

.btn-restart {
    font-family: "Libre Franklin", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 9pt;
    padding: 10px 20px;
    width: 260px;
    font-size: 20px;
    color: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 500% 500%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#hidden {
    opacity: 0%;
    transform: translate(-50%, -50%) scale(0);
}

#visible {
    opacity: 100%;
    transform: translate(-50%, -50%) scale(1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}

.menu img {
    position: relative;
}

.menu form {

    top: 10px;
    left: 10px;
}