* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(171, 160, 129);
/*     background: linear-gradient(126deg, rgba(2,0,36,1) 0%, rgba(89,89,175,1) 42%, rgba(255,58,58,1) 99%);
 */}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
.la-belle-aurore-regular {
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900
*/

.libre-franklin-regular {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
    padding-top: 50px;
    padding-bottom: 25px;
}

.container {
    width: 90%;
    padding: 20px;
    background: #f4f4f2;
    height: fit-content;
    color: rgb(86, 80, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    transition: height 1s ease;
    position: relative;
    margin: auto;
    box-shadow: 0px 10px 30px -7px rgba(0, 0, 0, 0.4);
/*     margin-top: 50px;
 */}

p {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 25pt;
    letter-spacing: -1px;
}

span {
    font-weight: 600;
}

.progress {
    width: 100%;
    height: 20px;
    background: #bebcb26c;
    margin-bottom: 20px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
}

.progress-inner {
    position: absolute;
    background: green;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: width 1s linear, background-color 10s ease;
}

.btn-restart {
    font-family: "Libre Franklin", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 9pt;
    padding: 10px 20px;
    width: 260px;
    font-size: 20px;
    color: white;
    border: 0;
    outline: none;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 500% 500%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#hidden {
    opacity: 0%;
    transform: translate(-50%, -50%) scale(0);
}

#visible {
    opacity: 100%;
    transform: translate(-50%, -50%) scale(1);
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
    overflow: hidden;
}

h1 {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    margin-bottom: 34px;
}

#menu {
    position: relative;
    margin-bottom: -400px;

}

#page1 {
    position: relative;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.4));

}

#page2, #page3, #highlighter, #pencil, #eraser {
    position: absolute;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.4));
}

#highlighter {
    bottom: 0px;
    z-index: 1;
    transform: translate(-33px, -400px) rotate(127deg);
}

#pencil {
    bottom: 0px;
    z-index: 1;
    transform: translate(192px, -156px) rotate(30deg);
}

#eraser {
    bottom: 0px;
    z-index: 1;
    transform: translate(387px, -604px) rotate(154deg);
}

form {
    position: absolute;
    top: 25px;
    left: 70px;
    z-index: 1;
}

label, input {
    display:block;
    font-size: 25px;
}

label {
    font-family: "Pangolin", cursive;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 7px;
    
}

input {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 23.5px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 5px;
}

#submit {
    font-family: "Pangolin", cursive;
    text-transform: uppercase;
    font-size: 40px;
    padding: 10px 20px;
    margin-left: 23px;
    background-color: #fffb00aa;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}


